.modelo{
    width: 15%;
    height: 35vh;
    background-color: aliceblue;
    float: right;
    border-radius: 8px;
    margin-top: 100px;
    border-radius: 8px;
    border-style: inset;
    border-color: black; 
}

.meio{
    width: 1150px;
    height: 20vh;
    background-color: aliceblue;
    float: right;
    border-radius: 8px;
    margin-top: 100px; 
    margin-right: 80px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
}

.instrucoes{
    width: 450px;
    height: 25vh;
    background-color: aliceblue;
    float: right;
    margin-right: 715px;
    position: relative;
    top: -90px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
}

.objetivo{
    width: 270px;
    height: 25vh;
    background-color: aliceblue;
    margin-right: 715px;
    position: relative;
    top: -90px;
    left: 1210px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
}

.objetivo div{
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    display: inline-block;
}


#play{
    width: 220px;
    padding: 10px;
    margin-top: 10px;
}

.blocao{
    width: 100px;
    height: 50px;
    background-color: rgb(18, 14, 238);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    position: absolute;
    box-shadow: 1px 1px 5px black;
}

.blocao p{
    color: rgb(253, 254, 255);
    font-family: 'Courier New', Courier, monospace;
}

.quadrado{
    width: 50px;
    height: 50px;
    background-color: rgb(204, 211, 218);
    border-radius: 6px;
    border: none;
    position: relative;
    left: 25px;
    top: -420px;
    box-shadow: 1px 1px 5px black;
}

.resultado{
    border-style: inset;
    border-radius: 8px;
    border-color: black;
    margin:50px;
    height: 480px;
    position: relative;
}


#envio{
    background-color: blueviolet;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    float: right;
    margin-top: 135px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px black;
}

#envio:hover{
    background-color: yellow;
}

#envio p{
    color: rgb(253, 254, 255);
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

#envio p:hover{
    color: black;
}


.blocos p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#mensagem{
    background-color: rgb(253, 1, 35);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 400px;
    display: none;
    margin-top: 220px;
    font-size: 25px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#enunciado{
    margin-top: 10px;
}

body{
    background-color: burlywood;
    margin-top: 100px;
}

.instrucoes div{
    padding: 20px;
    text-align: justify;
    font-size: 20px;
}



h1{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
}



h2{
    background-color: aquamarine;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    width: 400px;
}

.container{
    width: 15%;
    height: 35vh;
    background-color: aliceblue;
    border-radius: 8px;
    border: none;
    margin-top: 100px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
}

#anterior{
    background-color: #142850;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
    top: -100px;
    font-size: 17px;
}

#anterior:hover{
    background-color: #f16305;
}

button p {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    top: -23px;
    position: relative;
    padding: 20px;
}

button p:hover{
    color: black;
}

a{
    text-decoration: none;
}

button:hover {
    color: black;
}

img{
    width: 250px;
    height: 270px;
    position: relative;
    top: 233px;
}

.blocos{
    left: 13px;
    position: relative;
}

#sombra{
    width: 165px;
    height: 60px;
    background-color: rgb(109, 110, 110);
    position: relative;
    top: 95px;
    left: 20px;
}
#sombra2{
    width: 165px;
    height: 60px;
    background-color: rgb(109, 110, 110);
    position: relative;
    top: 175px;
    left: 20px;
}
#sombra3{
    width: 60px;
    height: 200px;
    background-color: rgb(109, 110, 110);
    position: relative;
    top: -25px;
    left: 20px;
}
#sombra4{
    width: 60px;
    height: 200px;
    background-color: rgb(109, 110, 110);
    position: relative;
    top: -225px;
    left: 125px;
}

#imprimir{
    padding: 20px;
    margin-left: 45px;
    margin-top: 40px;
    margin-right: 45px;
    border-radius: 6px;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
    display: none;
}

#imprimir p{
    font-size: 17px;
    text-align: center;
    position: relative;
    top: -30px;
}