body{
    background-color: beige;
}

#titulo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

#titulo_bem_vindo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.modelo_conteudo{
    width: 100%;
    height: 600px;
    background-color: rgb(191, 194, 197);
    margin-top: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 6px;
}

.menu{
    background-color: #fff;
    width: 500px;
    height: -450px;
    margin: 0 auto;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#inicio{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 96%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}

.menu_opcoes{
    background-color: rgb(204, 211, 218);
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    top: -20px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
}

.menu_opcoes button{
    background-color: cadetblue;
    width: 200px;
    padding: 7px;
    margin-top: 40px;
    margin-left: 100px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
    text-align: center;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.menu_opcoes button:hover{
    background-color: rgba(38, 69, 70, 0.836);
}

.texto_sobre{
    width: 350px;
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    border-radius: 6px;
    border: none;
}

.conteudo{
    width: 1000px;
    height: 400px;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 640px;
    position: relative;
    top: 70px;
    font-family: 'Times New Roman', Times, serif;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
}

.conteudo img{
    width: 400px;
    height: 420px;
    position: absolute;
    left: -460px;
    top: -1px;
}

.conteudo p{
    font-size: 20px;
    text-align: justify;
    padding-left: 15px;
}

#proxima{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    cursor: pointer;
    float: right;
    position: relative;
    left: -50px;
    top: -50px;
}

#anterior{
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    cursor: pointer;
    position: relative;
    top: -50px;
    left: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#assunto{
    color: black;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin:0 auto;
    margin-top: 6px;
    /* margin: 10px; */
}
.assuntos{
    width: 168px;
    padding: 3px;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
    background-color: #fff;
    left: 1677px;
    top: -290px; 
    position: relative;
}

.modelo_conteudo button:hover{
    background-color: rgb(107, 107, 105);
    color: rgb(255, 244, 240);
}

.modelo_conteudo button a{
    text-decoration: none;
}

#personagem{
    left: -373px;
    top: 60px;
    width: 300px;
    height: 300px;
}

#cont{
    left: -220px;
}

.botoes_1 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes_2 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes_3 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.botoes{
    position: relative;
    top: -20px;
}

#mostrar_mensagem{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    position: relative;
    border-radius: 6px;
    border-style: inset;
    border-color: black;
    top: -300px;
    left: 1510px;
    display: none;
}

#mostrar_mensagem p{
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

#exemplo{
    width: 800px;
    height: 300px;
    margin-left: 570px;
    margin-top: 80px;
}

scroll-container{
    display: block;
    width: 975px;
    height: 410px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    padding-right: 35px;
}

scroll-container p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    background: black;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
    width: 500px;
    margin-left: 220px;
    border-radius: 6px;
    border-style: double;
    border-color: #fff;
}

#let{
    color: rgb(90, 90, 245);
    display: inline-block;
}

#valor{
    color: rgb(243, 74, 32);
    display: inline-block;
}

#simbolo{
    color: rgb(57, 243, 32);
    display: inline-block;
}

#resultante{
    color: rgb(203, 245, 17);
    display: inline-block;
}

#comentario{
    color: #ffffff8e;
    display: inline-block;
}

#console{
    color: #a439ce;
    display: inline-block;
}

#log{
    color: #f16305;
    display: inline-block;
}

#string{
    color: rgb(13, 102, 13);
    display: inline-block;
}