body{
    background-color: beige;
}

#titulo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 250px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

#titulo_bem_vindo{
    background-color: aquamarine;
    cursor: pointer;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 140px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.modelo_conteudo{
    width: 100%;
    height: 600px;
    background-color: rgb(191, 194, 197);
    margin-top: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 6px;
}

.menu_opcoes{
    background-color: rgb(204, 211, 218);
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    border-style: inset;
    border-radius: 8px;
    border: none;
}

.menu_opcoes p{
    background-color: cadetblue;
    width: 200px;
    padding: 7px;
    margin: 0 auto;
    margin-top: 40px;
    border-style: inset;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.menu_opcoes p:hover{
    background-color: rgba(38, 69, 70, 0.836);
}

.texto_sobre{
    width: 350px;
    background-color: aliceblue;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    border-radius: 6px;
    border: none;
}

.conteudo{
    width: 1000px;
    height: 400px;
    background-color: aliceblue;
    text-align: justify;
    padding: 10px;
    margin-left: 640px;
    position: relative;
    top: 70px;
    font-family: 'Courier New', Courier, monospace;
    border-style: inset;
    border-radius: 6px;
    border-color: black;
}

.conteudo img{
    width: 400px;
    height: 420px;
    position: absolute;
    left: -460px;
    top: -1px;
}

#proxima{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    cursor: pointer;
    float: right;
    position: relative;
    top: 120px;
    left: -50px;
}

#anterior{
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border-style: inset;
    border-color: black;
    cursor: pointer;
    float: left;
    position: relative;
    top: 120px;
    left: 50px;
    font-family: 'Courier New', Courier, monospace;
}


.modelo_conteudo button:hover{
    background-color: rgb(107, 107, 105);
    color: rgb(255, 244, 240);
}

.modelo_conteudo button a{
    text-decoration: none;
}

#personagem{
    left: -373px;
    top: 60px;
    width: 300px;
    height: 300px;
}

#cont{
    left: -220px;
}

.botoes_1 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.botoes_2 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    position: relative;
    left: 180px;
    margin-top: 30px;
    margin-bottom: 53px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.botoes_3 button{
    width: 300px;
    height: 50px;
    border-radius: 7px;
    margin-left: 20px;
    position: relative;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#btn_7{
    position: relative;
    left: 330px;
}

#mostrar_mensagem{
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    float: right;
    position: relative;
    border-radius: 6px;
    border-style: inset;
    border-color: black;
    top: -290px;
    left: -50px;
    /* display: none; */
}

#mostrar_mensagem p{
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

#exemplo{
    width: 800px;
    height: 300px;
    margin-left: 570px;
    margin-top: 80px;
}

scroll-container{
    display: block;
    width: 975px;
    height: 410px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: justify;
    padding-right: 35px;
}

scroll-container p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.area{
    background: black;
    color: aliceblue;
    padding: 15px;
    font-size: 20px;
    width: 500px;
    margin-left: 220px;
    border-radius: 6px;
    border-style: double;
    border-color: #fff;
}